<p>Filter by: 
	<select ng-model="filterProp">
		<option value="firstName">First Name</option>
		<option value="lastName">Last Name</option>
	</select>
	<input ng-model="query" />
</p>
<div ng-repeat="person in people | filterBy: filterProp: query | orderBy:orderProp">
	<a ng-href="#/wishlist/{{person.id}}">{{person.firstName | makeUppercase}} {{person.lastName | makeUppercase}}</a><br/>
	<dl ng-repeat="item in person.wishlist">
		<dt>{{item.description}}</dt>
		<dd><a href="{{item.url}}"><img ng-src="{{item.image}}" alt="{{item.image}}" width="200"></a></dd>
	</dl>
</div>
